.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.container-rick {
  width: 185px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-content: center;
  gap: 10px;
  background-color: #F8F9F9;
  border-radius: 10px;
}

.container-search {
  width: 80%;
  margin-bottom: 15px;
  margin-left: 20px;
  background-color: #FAD7A0;
  border: none;
  padding: 10px;
  border-radius: 10px
}

.container-search:focus {
  outline: none;
}

.container-rick__head button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #D7DBDD;
  box-shadow: 20px 20px 60px #b7babc, -20px -20px 60px #f7fcfe;
}

.container-rick__head button:hover {
  background-color:#A6ACAF;
  color: white;
}

.container-rick__head button:active {
  box-shadow: none;
  border: solid 1px #ECF0F1;
}

.container-rick__image {
  width: 150px;
  height: 170px;
}